src/as-framework/as-admin-desktop/node-red-server/projects/as-framework/as_framework.json
[
    {
        "id": "22a5c7233e9e1774",
        "type": "tab",
        "label": "OnBOARD",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3efebe813eeb35a3",
        "type": "subflow",
        "name": "PROJECT DESIGNER",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 40,
                "wires": [
                    {
                        "id": "813353586ed2f20c"
                    },
                    {
                        "id": "3553b57d70a8146a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1200,
                "y": 540,
                "wires": [
                    {
                        "id": "eede0fe30a8d4384",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "5ecac4284319a8ad",
        "type": "subflow",
        "name": "INTERFACES ADAPTER",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "7ce4623e22aed186"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 720,
                "y": 360,
                "wires": [
                    {
                        "id": "8b2ba89db7dab528",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "6bbc9dbfcc0becb9",
        "type": "subflow",
        "name": "OPERATOR_SCREEN",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "4d459365c76e13d2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 560,
                "wires": []
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "59e44772b8b19ac2",
        "type": "subflow",
        "name": "AS FK Server",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "74a3df67b6a11cf7",
        "type": "subflow",
        "name": "AS IA Client",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "cf3b61b89757c1e2",
        "type": "subflow",
        "name": "AS_SEED_0_LOAD_JSON",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "e673376aeac6736e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1220,
                "y": 500,
                "wires": [
                    {
                        "id": "097e478b03cf93a0",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "8a29186ece79cb4e",
        "type": "subflow",
        "name": "AS_SEED_1_MAKE_NETWORK",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "b6f5b0ff4dd77a9d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": [
                    {
                        "id": "6e7caf9ad45488f5",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "fd9e8981ed977824",
        "type": "subflow",
        "name": "AS_SEED_3_COMPILE_BOOK",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "6a3a6a73123ec2e2"
                    },
                    {
                        "id": "38d92f161f93bc3e"
                    },
                    {
                        "id": "9966c64779c8207d"
                    },
                    {
                        "id": "9c26dd3a9f020a81"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1700,
                "y": 340,
                "wires": [
                    {
                        "id": "79ed7ebe06a6dddf",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "e35f898e6e51402b",
        "type": "group",
        "z": "22a5c7233e9e1774",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7cb129db92a7e201",
            "651075f2053363bf",
            "c3aee54b9c212d35",
            "c0342135668b93ee",
            "62da434d15a06984",
            "206c26188c71951a",
            "47952521ce2c8ac8",
            "4762d4c2829ac892",
            "a808bdd9c44231e8",
            "304bdc112221950c",
            "7c4bca2531a0c0d5",
            "d4fc3c2953df6f7a",
            "50e0fec5e8c09975",
            "084c1cf41b886bfd",
            "95b984c35e2791fa",
            "a64f63a4fe63a6d5",
            "059c7ca93e09542a",
            "3b88bbd67f62cbba",
            "02b5b2ab5e3a5b27",
            "bbb69373d3cf4068",
            "13afe9cdff1c3d2f",
            "ef3b99cc29f77cf8",
            "462ec13bbb1e8a70",
            "8e6131065fac525e",
            "9c9fe7fa062c8836",
            "e61635f2e9c3725f",
            "c7c101748c950662",
            "60b9c560866c7c4d",
            "04efa87e0f31f704",
            "6fd91ee460128c52",
            "5bcd1a45581eb879",
            "3d3026f3daa9a255",
            "49cbaa6fcb9ba022",
            "f3b5a6580efec40f",
            "473430abab162c29",
            "1bd4496c18f38e26",
            "fdf06eae80ddc085",
            "60995437c2734b26",
            "f282baccc2d57160",
            "9ee16a9c6a409441",
            "30fce7985aa12579",
            "2316e4d48d787f4d",
            "b37cf8f510a0b1f8",
            "7587708c8bbcdf25"
        ],
        "x": 34,
        "y": 19,
        "w": 1292,
        "h": 682
    },
    {
        "id": "6b6f22b29168c1fa",
        "type": "group",
        "z": "22a5c7233e9e1774",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bb58b62da194711a",
            "35a186cc633a144b",
            "f658b176e499657c",
            "1efbfecc1c2d21eb",
            "7def126f624a51fe",
            "baaff00b4fb136ff",
            "baa806a31968cb17"
        ],
        "x": 104,
        "y": 959,
        "w": 422,
        "h": 402
    },
    {
        "id": "16130664feafb270",
        "type": "group",
        "z": "3efebe813eeb35a3",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "813353586ed2f20c",
            "7d7aae35e6462acd",
            "3ac60b1cf5749896",
            "a0703223808f6b0b",
            "6617cf271245d20c",
            "9f56c832096bd94f",
            "13ed3a4e113fe455",
            "81487f4a983cf008",
            "4692c49af212a395",
            "46fd123e6ca660c5",
            "e5409f93c48713b5",
            "eede0fe30a8d4384",
            "6603c83b15809a80",
            "073e1cd1f8495b1f",
            "0a0cb50d27551656",
            "60e0f18637ba3fe4",
            "fe6a29eb571bc7ca",
            "6a1766f298f9abd9",
            "b62cff3956aa718f",
            "f05fde08a71c70b3",
            "6d362d68c183e6d0",
            "60961223d79ce57a",
            "2536616b2b105e3a",
            "5654e0dd23771058",
            "7e7503099f40f6b7",
            "532b115c97cbf42d",
            "a0493032c5a16bd1",
            "8c9040bfa60d5344",
            "44f259304c2f5cc1",
            "8c5fcd6fdd9223fc",
            "947529a2c0dcf105",
            "35e1824d9c14ddbc",
            "82b7caa0af910539",
            "2e807fde391547ad"
        ],
        "x": 44,
        "y": 99,
        "w": 1442,
        "h": 842
    },
    {
        "id": "482c0eec8a035bee",
        "type": "group",
        "z": "5ecac4284319a8ad",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7ce4623e22aed186",
            "a76d94495c2e1e5e",
            "51a4aaf754c39d2d",
            "2d7b690f15cd2d68",
            "8b2ba89db7dab528",
            "f4a13d897a7a0981",
            "7dc55dd59e0f1a6a",
            "42f48434a71a2a81"
        ],
        "x": 94,
        "y": 79,
        "w": 632,
        "h": 202
    },
    {
        "id": "7bc96376eedc5df5",
        "type": "group",
        "z": "6bbc9dbfcc0becb9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4d459365c76e13d2",
            "56e8b01b968cfb87",
            "6cfbdb3188b240da",
            "84e4e44b816d7d34",
            "2b1e384841488996",
            "3d40d9c97a36b0cb",
            "99ec132972cec00b",
            "e8029b7059b34ecc",
            "8f195a6cd3c2bb3c",
            "09c56823878714ae"
        ],
        "x": 44,
        "y": 79,
        "w": 988,
        "h": 428
    },
    {
        "id": "721a16705d277d3c",
        "type": "group",
        "z": "59e44772b8b19ac2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8facd5d108c52d74",
            "317c9f8eeb7b47d0",
            "d67c3002a9caa591",
            "d788a45157bb4b93",
            "f43a7615de8ba84d",
            "066634013babd91c",
            "0c6f67d31f3b4c51",
            "2796f125a994960c",
            "e23d3386cefcf7b7",
            "d85b124a3bbd8ec2",
            "1d3089c70d0796ca"
        ],
        "x": 74,
        "y": 59,
        "w": 792,
        "h": 462
    },
    {
        "id": "017ac4aba19658a9",
        "type": "group",
        "z": "74a3df67b6a11cf7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ca4735ab06df55d7",
            "ca60ffed2e11d1ca",
            "c0f065053a3abc5d",
            "bd7ad76ece636095",
            "6ae35abdc07f0d1a",
            "63f0895f11bf5481",
            "533dd44f013b890e",
            "434fcfad1ddb4616",
            "af1a9dc24a1004ec"
        ],
        "x": 74,
        "y": 39,
        "w": 712,
        "h": 282
    },
    {
        "id": "1219e15595a0609a",
        "type": "group",
        "z": "74a3df67b6a11cf7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "02d0bffd4c168cd2",
            "3520789a629a34e3"
        ],
        "x": 74,
        "y": 399,
        "w": 412,
        "h": 82
    },
    {
        "id": "b163473a404768cb",
        "type": "group",
        "z": "cf3b61b89757c1e2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "097e478b03cf93a0",
            "0157cc31eb56f499",
            "2469fc395f856ba4",
            "f808188b0fbfb241",
            "6ad1c92afb1be00a",
            "3cdd1f03f893f0d2",
            "fbbde6f9aec1aaa4",
            "5d05c6b18fac5b96",
            "0a18d168f34db917",
            "7943f3fe5551336f",
            "ef3d26e141fc909d",
            "eb47819a06de7406",
            "e673376aeac6736e",
            "ae990cda8738a4ca"
        ],
        "x": 94,
        "y": 159,
        "w": 992,
        "h": 322
    },
    {
        "id": "7d5afbecd7cda118",
        "type": "group",
        "z": "8a29186ece79cb4e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6300f9e23ee78cb3",
            "e6a2dc1b6e16439b",
            "eb59b66b3825c268",
            "7e28d0e4f7776b93",
            "d16b16e4412504db",
            "b6f5b0ff4dd77a9d",
            "aac5ad449b5ae4eb",
            "6e7caf9ad45488f5",
            "35d84d4a038b79f3",
            "eb1b7ee9b3f17a23",
            "0bc5a4423142ca1b",
            "e68ed9ed489844b5",
            "8289edc614c00317",
            "41d3f15aa765a6d8",
            "131f0fc72eaad95b",
            "2fbbf106e6748943"
        ],
        "x": 74,
        "y": 159,
        "w": 1432,
        "h": 482
    },
    {
        "id": "c29dca0639486150",
        "type": "group",
        "z": "fd9e8981ed977824",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "65ebb1f174c917d8",
            "64d7b4919dcd7aea",
            "77cd4d502da1350a",
            "88f7a6bc62ddcf55",
            "96f76a958d1a24d9",
            "64c3a70c44fc3e6d",
            "79ed7ebe06a6dddf",
            "d0c1430001f783b3",
            "2ea25bbcf451daf1",
            "fd93728e662093ec",
            "ce41e98f5d013589",
            "5c0c4f3a6c8677ed",
            "90a4b10fc15112bb",
            "e1b6a3d1bbc76d98"
        ],
        "x": 434,
        "y": 39,
        "w": 952,
        "h": 402
    },
    {
        "id": "60961223d79ce57a",
        "type": "group",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6576592ee425e344",
            "aedb7b34ec643837",
            "0817e54d3369cce4"
        ],
        "x": 734,
        "y": 499,
        "w": 212,
        "h": 242
    },
    {
        "id": "2b1e384841488996",
        "type": "group",
        "z": "6bbc9dbfcc0becb9",
        "g": "7bc96376eedc5df5",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7c0abaceaecddfa8",
            "9208e642e5bc4a38",
            "dc51ec030a4c7239",
            "952f521f1ff0ee20",
            "98b497ac74b16107"
        ],
        "x": 134,
        "y": 279,
        "w": 472,
        "h": 202
    },
    {
        "id": "3d40d9c97a36b0cb",
        "type": "group",
        "z": "6bbc9dbfcc0becb9",
        "g": "7bc96376eedc5df5",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "098a3dd41a5831f1",
            "0209345d46a57204",
            "5c775c5dbb7947dc",
            "593cea2f16fede84",
            "149b50cab04b149e"
        ],
        "x": 664,
        "y": 259,
        "w": 342,
        "h": 222
    },
    {
        "id": "6cfcae0c75e911dd",
        "type": "ui_tab",
        "z": "3efebe813eeb35a3",
        "name": "AS FK IDE",
        "icon": "book",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "98037bb0633058a9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "29ed898c816c2962",
        "type": "ui_group",
        "z": "3efebe813eeb35a3",
        "name": "Default",
        "tab": "f4a522740fd7cc0a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "290ead2f2b166092",
        "type": "ui_group",
        "name": "Semantic network (sbc-common-kads-loop)",
        "tab": "e731754a9b33ac45",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "574d81dd5d5a58a1",
        "type": "ui_group",
        "name": "Generate app.bundle.domain (yaml library for RASA stories)",
        "tab": "e731754a9b33ac45",
        "order": 6,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "f4a522740fd7cc0a",
        "type": "ui_tab",
        "name": "Data",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6c797ab7da604100",
        "type": "ui_group",
        "name": "AlephScript Seeding Structed Data Information systems",
        "tab": "e731754a9b33ac45",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9f644d291d295eb4",
        "type": "ui_spacer",
        "z": "3efebe813eeb35a3",
        "name": "spacer",
        "group": "290ead2f2b166092",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "6f6678b60944fa10",
        "type": "ui_spacer",
        "z": "3efebe813eeb35a3",
        "name": "spacer",
        "group": "574d81dd5d5a58a1",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "62c2fbbe180855e4",
        "type": "ui_group",
        "name": "Estructured data (domain.data.schema/auth)",
        "tab": "e731754a9b33ac45",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e731754a9b33ac45",
        "type": "ui_tab",
        "name": "Daskboard",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ccf212632d94700f",
        "type": "ui_group",
        "name": "OTA-1 Form",
        "tab": "e731754a9b33ac45",
        "order": 4,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "076b1219c7166fb9",
        "type": "ui_spacer",
        "z": "fd9e8981ed977824",
        "name": "spacer",
        "group": "ccf212632d94700f",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "cd778484f7aef4b3",
        "type": "ui_spacer",
        "z": "fd9e8981ed977824",
        "name": "spacer",
        "group": "ccf212632d94700f",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "63dc29ab27976c8d",
        "type": "ui_group",
        "name": "Generate App Especification",
        "tab": "e731754a9b33ac45",
        "order": 5,
        "disp": true,
        "width": "24",
        "collapse": true,
        "className": ""
    },
    {
        "id": "129adb56372ebcc8",
        "type": "ui_spacer",
        "z": "fd9e8981ed977824",
        "name": "spacer",
        "group": "63dc29ab27976c8d",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "813353586ed2f20c",
        "type": "function",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "set STATE to LOAD_JSON",
        "func": "msg.payload.project = { \n    state:\"NO_INIT\",\n    button: {\n        label: \"Load data.schema.json (+ auth.json)\",\n        tooltip: \"Use AS Seed to generate those files\",\n        payload: \"LOAD_JSON\"\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "b62cff3956aa718f"
            ]
        ]
    },
    {
        "id": "7d7aae35e6462acd",
        "type": "function",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "BUILD_SEMANTIC_NETWORK",
        "func": "msg.payload.jobs.push({\n    job: new Date(),\n    domain: { \n        root: \"\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 300,
        "wires": [
            [
                "6617cf271245d20c"
            ]
        ]
    },
    {
        "id": "3ac60b1cf5749896",
        "type": "function",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "BUILD FRAME_BOOK",
        "func": "msg.payload.jobs.push({\n    job: new Date(),\n    book: { \n        story: \"\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 360,
        "wires": [
            [
                "9f56c832096bd94f",
                "46fd123e6ca660c5"
            ]
        ]
    },
    {
        "id": "a0703223808f6b0b",
        "type": "function",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "LOAD_COMMON_KADS_FORMS",
        "func": "msg.payload.jobs.push({\n    job: new Date(),\n    CADSforms: { \n        network: \"\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "7d7aae35e6462acd"
            ]
        ]
    },
    {
        "id": "6617cf271245d20c",
        "type": "function",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "APP_YAML_DOMAIN",
        "func": "msg.payload.yaml.push({\n    job: new Date(),\n    CADSforms: { \n        network: \"\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 300,
        "wires": [
            [
                "13ed3a4e113fe455"
            ]
        ]
    },
    {
        "id": "9f56c832096bd94f",
        "type": "function",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "APP_YAML_FRAMEBOOK",
        "func": "msg.payload.yaml.push({\n    job: new Date(),\n    CADSforms: { \n        network: \"\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 360,
        "wires": [
            [
                "81487f4a983cf008"
            ]
        ]
    },
    {
        "id": "13ed3a4e113fe455",
        "type": "yaml",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "property": "payload",
        "name": "",
        "x": 1010,
        "y": 300,
        "wires": [
            [
                "3ac60b1cf5749896"
            ]
        ]
    },
    {
        "id": "81487f4a983cf008",
        "type": "yaml",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "property": "payload",
        "name": "",
        "x": 1050,
        "y": 360,
        "wires": [
            [
                "eede0fe30a8d4384"
            ]
        ]
    },
    {
        "id": "4692c49af212a395",
        "type": "json",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1050,
        "y": 400,
        "wires": [
            [
                "eede0fe30a8d4384"
            ]
        ]
    },
    {
        "id": "46fd123e6ca660c5",
        "type": "function",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "APP_JSON_ANOTATED_DATASETS",
        "func": "msg.payload.yaml.push({\n    job: new Date(),\n    CADSforms: { \n        network: \"\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 400,
        "wires": [
            [
                "4692c49af212a395"
            ]
        ]
    },
    {
        "id": "e5409f93c48713b5",
        "type": "link out",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "link out 11",
        "mode": "link",
        "links": [],
        "x": 1205,
        "y": 440,
        "wires": []
    },
    {
        "id": "eede0fe30a8d4384",
        "type": "function",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "BUNDLE",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 380,
        "wires": [
            [
                "e5409f93c48713b5",
                "073e1cd1f8495b1f"
            ]
        ]
    },
    {
        "id": "6603c83b15809a80",
        "type": "link in",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "link in 11",
        "links": [],
        "x": 85,
        "y": 140,
        "wires": [
            [
                "813353586ed2f20c"
            ]
        ]
    },
    {
        "id": "073e1cd1f8495b1f",
        "type": "file",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1180,
        "y": 240,
        "wires": [
            [
                "60e0f18637ba3fe4"
            ]
        ]
    },
    {
        "id": "0a0cb50d27551656",
        "type": "watch",
        "z": "3efebe813eeb35a3",
        "d": true,
        "g": "16130664feafb270",
        "name": "",
        "files": "",
        "recursive": "",
        "x": 1130,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "60e0f18637ba3fe4",
        "type": "debug",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "AS PROJECT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 200,
        "wires": []
    },
    {
        "id": "c768c6527728ee68",
        "type": "html",
        "z": "3efebe813eeb35a3",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "",
        "ret": "html",
        "as": "single",
        "x": 1030,
        "y": 620,
        "wires": [
            [
                "a897273968de54ef"
            ]
        ]
    },
    {
        "id": "a897273968de54ef",
        "type": "yaml",
        "z": "3efebe813eeb35a3",
        "property": "payload",
        "name": "",
        "x": 1070,
        "y": 680,
        "wires": [
            [
                "2536616b2b105e3a"
            ]
        ]
    },
    {
        "id": "2536616b2b105e3a",
        "type": "file",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1100,
        "y": 740,
        "wires": [
            [
                "7e7503099f40f6b7"
            ]
        ]
    },
    {
        "id": "5654e0dd23771058",
        "type": "watch",
        "z": "3efebe813eeb35a3",
        "d": true,
        "g": "16130664feafb270",
        "name": "",
        "files": "",
        "recursive": "",
        "x": 1410,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "7e7503099f40f6b7",
        "type": "debug",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "AS APP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 740,
        "wires": []
    },
    {
        "id": "6576592ee425e344",
        "type": "function",
        "z": "3efebe813eeb35a3",
        "g": "60961223d79ce57a",
        "name": "EXPORT_APP",
        "func": "msg.payload.jobs.push({\n    job: new Date(),\n    app: { \n        yaml: \"\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 540,
        "wires": [
            [
                "aedb7b34ec643837"
            ]
        ]
    },
    {
        "id": "aedb7b34ec643837",
        "type": "function",
        "z": "3efebe813eeb35a3",
        "g": "60961223d79ce57a",
        "name": "TRAIN_APP",
        "func": "msg.payload.jobs.push({\n    job: new Date(),\n    app: { \n        yaml: \"\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 620,
        "wires": [
            [
                "0817e54d3369cce4"
            ]
        ]
    },
    {
        "id": "0817e54d3369cce4",
        "type": "function",
        "z": "3efebe813eeb35a3",
        "g": "60961223d79ce57a",
        "name": "PACKAGE_APP",
        "func": "msg.payload.jobs.push({\n    job: new Date(),\n    app: { \n        yaml: \"\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 700,
        "wires": [
            [
                "c768c6527728ee68"
            ]
        ]
    },
    {
        "id": "3553b57d70a8146a",
        "type": "debug",
        "z": "3efebe813eeb35a3",
        "name": "AS PROJECT DESIGNER",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "fe6a29eb571bc7ca",
        "type": "switch",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "project.STATE",
        "property": "payload.project.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NO_INIT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "LOADED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BUILDED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BUNDLED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PACKAGED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 260,
        "y": 680,
        "wires": [
            [
                "8c9040bfa60d5344"
            ],
            [
                "8c9040bfa60d5344"
            ],
            [
                "8c9040bfa60d5344"
            ],
            [
                "8c9040bfa60d5344",
                "8c5fcd6fdd9223fc"
            ],
            []
        ]
    },
    {
        "id": "6a1766f298f9abd9",
        "type": "link in",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "link in 15",
        "links": [
            "b62cff3956aa718f",
            "fbbde6f9aec1aaa4",
            "7a8258d2184872d2",
            "35d84d4a038b79f3",
            "d0c1430001f783b3",
            "d4560aca4951dd76",
            "0b8dfcdae8b67435",
            "bbc958e19fd7701e",
            "a064ab7863f8ebe7"
        ],
        "x": 115,
        "y": 680,
        "wires": [
            [
                "fe6a29eb571bc7ca"
            ]
        ]
    },
    {
        "id": "b62cff3956aa718f",
        "type": "link out",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "link out 22",
        "mode": "link",
        "links": [
            "6a1766f298f9abd9",
            "f2da6f5a5533f68e"
        ],
        "x": 495,
        "y": 140,
        "wires": []
    },
    {
        "id": "f05fde08a71c70b3",
        "type": "link out",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "link out 23",
        "mode": "link",
        "links": [
            "5d05c6b18fac5b96",
            "aac5ad449b5ae4eb",
            "2708704daab1388f",
            "342a726790403bc1",
            "8ca5d47b6053bb85",
            "b3e2700f2e0bdbe5",
            "551714566bba8c1d"
        ],
        "x": 895,
        "y": 460,
        "wires": []
    },
    {
        "id": "6d362d68c183e6d0",
        "type": "debug",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "BUTTON EVENT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 460,
        "wires": []
    },
    {
        "id": "e0e5b74380eae7a0",
        "type": "switch",
        "z": "3efebe813eeb35a3",
        "name": "project.STATE",
        "property": "payload.project.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NO_INIT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "LOADED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BUILDED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BUNDLED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PACKAGED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 460,
        "y": 1120,
        "wires": [
            [],
            [],
            [
                "fbc973d7d5439b8d"
            ],
            [],
            []
        ]
    },
    {
        "id": "f2da6f5a5533f68e",
        "type": "link in",
        "z": "3efebe813eeb35a3",
        "name": "link in 17",
        "links": [
            "b62cff3956aa718f",
            "fbbde6f9aec1aaa4",
            "35d84d4a038b79f3",
            "d0c1430001f783b3",
            "d4560aca4951dd76",
            "0b8dfcdae8b67435",
            "bbc958e19fd7701e",
            "a064ab7863f8ebe7"
        ],
        "x": 195,
        "y": 1320,
        "wires": [
            [
                "e0e5b74380eae7a0",
                "532b115c97cbf42d",
                "947529a2c0dcf105",
                "35e1824d9c14ddbc",
                "aaa8f60d1657d4d8"
            ]
        ]
    },
    {
        "id": "532b115c97cbf42d",
        "type": "ui_text",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "group": "574d81dd5d5a58a1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "{{msg.payload.project.state}}",
        "label": "msg.payload.project.state",
        "format": "{{msg.payload.project.state}}",
        "layout": "row-left",
        "className": "",
        "x": 280,
        "y": 820,
        "wires": []
    },
    {
        "id": "a0493032c5a16bd1",
        "type": "ui_button",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "ADMIN_ACTION",
        "group": "574d81dd5d5a58a1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.payload.project.button.label}}",
        "tooltip": "{{msg.payload.project.button.tooltip}}",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "BUTTONS",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 460,
        "wires": [
            [
                "44f259304c2f5cc1"
            ]
        ]
    },
    {
        "id": "8c9040bfa60d5344",
        "type": "function",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "SET MASTER ADMIN BUTTON",
        "func": "const buttons = flow.get(\"BUTTONS\");\n\nconst button = {\n    id: new Date().getTime(),\n    payload: JSON.stringify(msg.payload)\n}\n\nflow.set(\"BUTTONS\", button);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 460,
        "wires": [
            [
                "a0493032c5a16bd1",
                "82b7caa0af910539",
                "2e807fde391547ad"
            ]
        ]
    },
    {
        "id": "44f259304c2f5cc1",
        "type": "function",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "INIT_THREAD",
        "func": "msg.payload = JSON.parse(msg.payload.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 460,
        "wires": [
            [
                "f05fde08a71c70b3",
                "6d362d68c183e6d0"
            ]
        ]
    },
    {
        "id": "8c5fcd6fdd9223fc",
        "type": "debug",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 740,
        "wires": []
    },
    {
        "id": "aaa8f60d1657d4d8",
        "type": "template",
        "z": "3efebe813eeb35a3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<ul>\n    <li>Get & prepare Structured data</li>\n    <li>Build & train semantic network and frame books</li>\n    <li>Compile networs and frame books to RASA Yaml stories library</li>\n</ul>\n- ",
        "output": "str",
        "x": 400,
        "y": 1380,
        "wires": [
            [
                "63772aa4e0d365af",
                "fa2dfacb1c6c28c5"
            ]
        ]
    },
    {
        "id": "947529a2c0dcf105",
        "type": "ui_text",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "group": "290ead2f2b166092",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "{{msg.payload.project.state}}",
        "label": "msg.payload.project.state",
        "format": "{{msg.payload.project.state}}",
        "layout": "row-left",
        "className": "",
        "x": 320,
        "y": 860,
        "wires": []
    },
    {
        "id": "35e1824d9c14ddbc",
        "type": "ui_text",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "group": "62c2fbbe180855e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "{{msg.payload.project.state}}",
        "label": "msg.payload.project.state",
        "format": "{{msg.payload.project.state}}",
        "layout": "row-left",
        "className": "",
        "x": 360,
        "y": 900,
        "wires": []
    },
    {
        "id": "82b7caa0af910539",
        "type": "ui_button",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "ADMIN_ACTION",
        "group": "290ead2f2b166092",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.payload.project.button.label}}",
        "tooltip": "{{msg.payload.project.button.tooltip}}",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "BUTTONS",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 500,
        "wires": [
            [
                "44f259304c2f5cc1"
            ]
        ]
    },
    {
        "id": "2e807fde391547ad",
        "type": "ui_button",
        "z": "3efebe813eeb35a3",
        "g": "16130664feafb270",
        "name": "ADMIN_ACTION",
        "group": "62c2fbbe180855e4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.payload.project.button.label}}",
        "tooltip": "{{msg.payload.project.button.tooltip}}",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "BUTTONS",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 540,
        "wires": [
            [
                "44f259304c2f5cc1"
            ]
        ]
    },
    {
        "id": "63772aa4e0d365af",
        "type": "ui_template",
        "z": "3efebe813eeb35a3",
        "group": "29ed898c816c2962",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "fa2dfacb1c6c28c5",
        "type": "ui_template",
        "z": "3efebe813eeb35a3",
        "group": "6c797ab7da604100",
        "name": "",
        "order": 1,
        "width": "24",
        "height": "5",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "1c97908b01fcb81e",
        "type": "subflow:8a29186ece79cb4e",
        "z": "3efebe813eeb35a3",
        "name": "",
        "x": 1370,
        "y": 1280,
        "wires": [
            [
                "bbc958e19fd7701e"
            ]
        ]
    },
    {
        "id": "6b2769b06e0b356d",
        "type": "subflow:cf3b61b89757c1e2",
        "z": "3efebe813eeb35a3",
        "name": "",
        "x": 1350,
        "y": 1220,
        "wires": [
            [
                "0b8dfcdae8b67435"
            ]
        ]
    },
    {
        "id": "8ca5d47b6053bb85",
        "type": "link in",
        "z": "3efebe813eeb35a3",
        "name": "link in 24",
        "links": [
            "f05fde08a71c70b3"
        ],
        "x": 1185,
        "y": 1220,
        "wires": [
            [
                "6b2769b06e0b356d"
            ]
        ]
    },
    {
        "id": "0b8dfcdae8b67435",
        "type": "link out",
        "z": "3efebe813eeb35a3",
        "name": "link out 30",
        "mode": "link",
        "links": [
            "f2da6f5a5533f68e",
            "6a1766f298f9abd9"
        ],
        "x": 1555,
        "y": 1220,
        "wires": []
    },
    {
        "id": "b3e2700f2e0bdbe5",
        "type": "link in",
        "z": "3efebe813eeb35a3",
        "name": "link in 25",
        "links": [
            "f05fde08a71c70b3"
        ],
        "x": 1185,
        "y": 1280,
        "wires": [
            [
                "1c97908b01fcb81e"
            ]
        ]
    },
    {
        "id": "bbc958e19fd7701e",
        "type": "link out",
        "z": "3efebe813eeb35a3",
        "name": "link out 31",
        "mode": "link",
        "links": [
            "f2da6f5a5533f68e",
            "6a1766f298f9abd9"
        ],
        "x": 1555,
        "y": 1280,
        "wires": []
    },
    {
        "id": "fbc973d7d5439b8d",
        "type": "subflow:fd9e8981ed977824",
        "z": "3efebe813eeb35a3",
        "name": "",
        "x": 1370,
        "y": 1340,
        "wires": [
            [
                "a064ab7863f8ebe7"
            ]
        ]
    },
    {
        "id": "551714566bba8c1d",
        "type": "link in",
        "z": "3efebe813eeb35a3",
        "name": "link in 26",
        "links": [
            "f05fde08a71c70b3"
        ],
        "x": 1185,
        "y": 1340,
        "wires": [
            [
                "fbc973d7d5439b8d"
            ]
        ]
    },
    {
        "id": "a064ab7863f8ebe7",
        "type": "link out",
        "z": "3efebe813eeb35a3",
        "name": "link out 32",
        "mode": "link",
        "links": [
            "f2da6f5a5533f68e",
            "6a1766f298f9abd9"
        ],
        "x": 1555,
        "y": 1340,
        "wires": []
    },
    {
        "id": "7ce4623e22aed186",
        "type": "function",
        "z": "5ecac4284319a8ad",
        "g": "482c0eec8a035bee",
        "name": "INIT_OWNER_DESKTOP",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a76d94495c2e1e5e",
        "type": "function",
        "z": "5ecac4284319a8ad",
        "g": "482c0eec8a035bee",
        "name": "BUILD_WORLD_NAVIGATOR",
        "func": "msg.payload.jobs.push({\n    job: new Date(),\n    navigator: { \n        yaml: \"\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 160,
        "wires": [
            [
                "8b2ba89db7dab528"
            ]
        ]
    },
    {
        "id": "51a4aaf754c39d2d",
        "type": "function",
        "z": "5ecac4284319a8ad",
        "g": "482c0eec8a035bee",
        "name": "BUILD_WORLD_MONITOR",
        "func": "msg.payload.jobs.push({\n    job: new Date(),\n    monitor: { \n        yaml: \"\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 200,
        "wires": [
            [
                "8b2ba89db7dab528"
            ]
        ]
    },
    {
        "id": "2d7b690f15cd2d68",
        "type": "function",
        "z": "5ecac4284319a8ad",
        "g": "482c0eec8a035bee",
        "name": "BUILD_WORLD_DESKBOARD",
        "func": "msg.payload.jobs.push({\n    job: new Date(),\n    desk: { \n        yaml: \"\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 240,
        "wires": [
            [
                "8b2ba89db7dab528"
            ]
        ]
    },
    {
        "id": "8b2ba89db7dab528",
        "type": "function",
        "z": "5ecac4284319a8ad",
        "g": "482c0eec8a035bee",
        "name": "APP_YAML_FRAMEBOOK",
        "func": "msg.payload.yaml.push({\n    job: new Date(),\n    CADSforms: { \n        network: \"\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f4a13d897a7a0981",
        "type": "html",
        "z": "5ecac4284319a8ad",
        "g": "482c0eec8a035bee",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "",
        "ret": "html",
        "as": "single",
        "x": 510,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7dc55dd59e0f1a6a",
        "type": "yaml",
        "z": "5ecac4284319a8ad",
        "g": "482c0eec8a035bee",
        "property": "payload",
        "name": "",
        "x": 630,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "42f48434a71a2a81",
        "type": "link in",
        "z": "5ecac4284319a8ad",
        "g": "482c0eec8a035bee",
        "name": "link in 13",
        "links": [],
        "x": 135,
        "y": 120,
        "wires": [
            [
                "7ce4623e22aed186"
            ]
        ]
    },
    {
        "id": "4d459365c76e13d2",
        "type": "function",
        "z": "6bbc9dbfcc0becb9",
        "g": "7bc96376eedc5df5",
        "name": "INIT_OPERATOR_DESKTOP",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 120,
        "wires": [
            [
                "e8029b7059b34ecc"
            ]
        ]
    },
    {
        "id": "56e8b01b968cfb87",
        "type": "function",
        "z": "6bbc9dbfcc0becb9",
        "g": "7bc96376eedc5df5",
        "name": "RUN_WORLD_NAVIGATOR",
        "func": "msg.payload.jobs.push({\n    job: new Date(),\n    navigator: { \n        yaml: \"OPERATOR_ACCESS_NAVIGATOR\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 120,
        "wires": [
            [
                "09c56823878714ae"
            ]
        ]
    },
    {
        "id": "6cfbdb3188b240da",
        "type": "function",
        "z": "6bbc9dbfcc0becb9",
        "g": "7bc96376eedc5df5",
        "name": "RUN_WORLD_MONITOR",
        "func": "msg.payload.jobs.push({\n    job: new Date(),\n    monitor: { \n        yaml: \"OPERATOR_ACCESS_MONITOR\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 200,
        "wires": [
            [
                "8f195a6cd3c2bb3c"
            ]
        ]
    },
    {
        "id": "84e4e44b816d7d34",
        "type": "function",
        "z": "6bbc9dbfcc0becb9",
        "g": "7bc96376eedc5df5",
        "name": "RUN_WORLD_DESKBOARD",
        "func": "msg.payload.jobs.push({\n    job: new Date(),\n    desk: { \n        yaml: \"OPERATOR_ACCESS_DESKBOARD\",\n        children: [] \n    }\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 200,
        "wires": [
            [
                "6cfbdb3188b240da"
            ]
        ]
    },
    {
        "id": "7c0abaceaecddfa8",
        "type": "function",
        "z": "6bbc9dbfcc0becb9",
        "g": "2b1e384841488996",
        "name": "MONITOR",
        "func": "const monitor = {\n    viewer: {\n        id: 0,\n        children: [],\n        hologram: null\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 380,
        "wires": [
            [
                "9208e642e5bc4a38",
                "98b497ac74b16107"
            ]
        ]
    },
    {
        "id": "9208e642e5bc4a38",
        "type": "function",
        "z": "6bbc9dbfcc0becb9",
        "g": "2b1e384841488996",
        "name": "DASHBOARD",
        "func": "const dashboard = {\n    desk: {\n        id: 0,\n        children: [],\n        hologram: null\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 320,
        "wires": [
            [
                "dc51ec030a4c7239"
            ]
        ]
    },
    {
        "id": "dc51ec030a4c7239",
        "type": "function",
        "z": "6bbc9dbfcc0becb9",
        "g": "2b1e384841488996",
        "name": "SCADA NETWORK",
        "func": "const network = {\n    signal: {\n        id: 0,\n        children: [],\n        hologram: null\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 320,
        "wires": [
            [
                "7c0abaceaecddfa8"
            ]
        ]
    },
    {
        "id": "952f521f1ff0ee20",
        "type": "link in",
        "z": "6bbc9dbfcc0becb9",
        "g": "2b1e384841488996",
        "name": "link in 8",
        "links": [
            "8f195a6cd3c2bb3c"
        ],
        "x": 205,
        "y": 440,
        "wires": [
            [
                "7c0abaceaecddfa8"
            ]
        ]
    },
    {
        "id": "98b497ac74b16107",
        "type": "link out",
        "z": "6bbc9dbfcc0becb9",
        "g": "2b1e384841488996",
        "name": "link out 9",
        "mode": "link",
        "links": [],
        "x": 515,
        "y": 440,
        "wires": []
    },
    {
        "id": "098a3dd41a5831f1",
        "type": "function",
        "z": "6bbc9dbfcc0becb9",
        "g": "3d40d9c97a36b0cb",
        "name": "NAVIGATOR",
        "func": "const navigaor = {\n    routes: {\n        id: 0,\n        children: [],\n        hologram: null\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 380,
        "wires": [
            [
                "0209345d46a57204",
                "149b50cab04b149e"
            ]
        ]
    },
    {
        "id": "0209345d46a57204",
        "type": "function",
        "z": "6bbc9dbfcc0becb9",
        "g": "3d40d9c97a36b0cb",
        "name": "MAP",
        "func": "const map = {\n    directory: {\n        id: 0,\n        children: [],\n        hologram: null\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 300,
        "wires": [
            [
                "5c775c5dbb7947dc"
            ]
        ]
    },
    {
        "id": "5c775c5dbb7947dc",
        "type": "function",
        "z": "6bbc9dbfcc0becb9",
        "g": "3d40d9c97a36b0cb",
        "name": "BIM MODEL",
        "func": "const model = {\n    scene: {\n        id: 0,\n        children: [],\n        hologram: null\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 300,
        "wires": [
            [
                "098a3dd41a5831f1"
            ]
        ]
    },
    {
        "id": "593cea2f16fede84",
        "type": "link in",
        "z": "6bbc9dbfcc0becb9",
        "g": "3d40d9c97a36b0cb",
        "name": "link in 9",
        "links": [
            "09c56823878714ae"
        ],
        "x": 705,
        "y": 440,
        "wires": [
            [
                "098a3dd41a5831f1"
            ]
        ]
    },
    {
        "id": "149b50cab04b149e",
        "type": "link out",
        "z": "6bbc9dbfcc0becb9",
        "g": "3d40d9c97a36b0cb",
        "name": "link out 10",
        "mode": "link",
        "links": [],
        "x": 955,
        "y": 440,
        "wires": []
    },
    {
        "id": "99ec132972cec00b",
        "type": "link in",
        "z": "6bbc9dbfcc0becb9",
        "g": "7bc96376eedc5df5",
        "name": "link in 12",
        "links": [],
        "x": 85,
        "y": 120,
        "wires": [
            [
                "4d459365c76e13d2"
            ]
        ]
    },
    {
        "id": "e8029b7059b34ecc",
        "type": "switch",
        "z": "6bbc9dbfcc0becb9",
        "g": "7bc96376eedc5df5",
        "name": "INTERFACE",
        "property": "payload.interface",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BIM",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SCADA",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "56e8b01b968cfb87"
            ],
            [
                "84e4e44b816d7d34"
            ]
        ]
    },
    {
        "id": "8f195a6cd3c2bb3c",
        "type": "link out",
        "z": "6bbc9dbfcc0becb9",
        "g": "7bc96376eedc5df5",
        "name": "link out 17",
        "mode": "link",
        "links": [
            "952f521f1ff0ee20"
        ],
        "x": 645,
        "y": 200,
        "wires": []
    },
    {
        "id": "09c56823878714ae",
        "type": "link out",
        "z": "6bbc9dbfcc0becb9",
        "g": "7bc96376eedc5df5",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "593cea2f16fede84"
        ],
        "x": 955,
        "y": 120,
        "wires": []
    },
    {
        "id": "1208cc9ae47b0232",
        "type": "comment",
        "z": "59e44772b8b19ac2",
        "name": "AS FRAMEWORK SERVER",
        "info": "",
        "x": 190,
        "y": 560,
        "wires": []
    },
    {
        "id": "8facd5d108c52d74",
        "type": "http response",
        "z": "59e44772b8b19ac2",
        "g": "721a16705d277d3c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "317c9f8eeb7b47d0",
        "type": "websocket in",
        "z": "59e44772b8b19ac2",
        "g": "721a16705d277d3c",
        "name": "",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "d788a45157bb4b93"
            ]
        ]
    },
    {
        "id": "d67c3002a9caa591",
        "type": "websocket out",
        "z": "59e44772b8b19ac2",
        "g": "721a16705d277d3c",
        "name": "",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "d788a45157bb4b93",
        "type": "function",
        "z": "59e44772b8b19ac2",
        "g": "721a16705d277d3c",
        "name": "CHANNELS_POOL",
        "func": "const session = msg.payload.history.session;\n\nsession.calendar.push({\n    time: new Date(),\n    event: msg.payload.history.action\n});\n\nmsg.payload.history = {\n    ... msg.payload.history,\n    session\n}\n\nconst PC = flow.get(\"PC\") || {};\nPC.sessions = PC.sessions || [];\n\nPC.sessions.push(msg.payload.history);\n\nflow.set(\"PC\", PC);\n\nmsg.log = PC;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 160,
        "wires": [
            [
                "f43a7615de8ba84d"
            ]
        ]
    },
    {
        "id": "f43a7615de8ba84d",
        "type": "function",
        "z": "59e44772b8b19ac2",
        "g": "721a16705d277d3c",
        "name": "STREAM_PROCESSOR",
        "func": "const session = msg.payload.history.session;\n\nsession.calendar.push({\n    time: new Date(),\n    event: msg.payload.history.action\n});\n\nmsg.payload.history = {\n    ... msg.payload.history,\n    session\n}\n\nconst PC = flow.get(\"PC\") || {};\nPC.sessions = PC.sessions || [];\n\nPC.sessions.push(msg.payload.history);\n\nflow.set(\"PC\", PC);\n\nmsg.log = PC;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "066634013babd91c"
            ]
        ]
    },
    {
        "id": "066634013babd91c",
        "type": "function",
        "z": "59e44772b8b19ac2",
        "g": "721a16705d277d3c",
        "name": "TRACKER_STORE",
        "func": "const session = msg.payload.history.session;\n\nsession.calendar.push({\n    time: new Date(),\n    event: msg.payload.history.action\n});\n\nmsg.payload.history = {\n    ... msg.payload.history,\n    session\n}\n\nconst PC = flow.get(\"PC\") || {};\nPC.sessions = PC.sessions || [];\n\nPC.sessions.push(msg.payload.history);\n\nflow.set(\"PC\", PC);\n\nmsg.log = PC;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 320,
        "wires": [
            [
                "0c6f67d31f3b4c51"
            ]
        ]
    },
    {
        "id": "0c6f67d31f3b4c51",
        "type": "function",
        "z": "59e44772b8b19ac2",
        "g": "721a16705d277d3c",
        "name": "LOCK_STORE",
        "func": "const session = msg.payload.history.session;\n\nsession.calendar.push({\n    time: new Date(),\n    event: msg.payload.history.action\n});\n\nmsg.payload.history = {\n    ... msg.payload.history,\n    session\n}\n\nconst PC = flow.get(\"PC\") || {};\nPC.sessions = PC.sessions || [];\n\nPC.sessions.push(msg.payload.history);\n\nflow.set(\"PC\", PC);\n\nmsg.log = PC;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 400,
        "wires": [
            [
                "d67c3002a9caa591",
                "8facd5d108c52d74",
                "e23d3386cefcf7b7",
                "d85b124a3bbd8ec2"
            ]
        ]
    },
    {
        "id": "2796f125a994960c",
        "type": "link in",
        "z": "59e44772b8b19ac2",
        "g": "721a16705d277d3c",
        "name": "link in 10",
        "links": [],
        "x": 115,
        "y": 100,
        "wires": [
            [
                "d788a45157bb4b93"
            ]
        ]
    },
    {
        "id": "e23d3386cefcf7b7",
        "type": "link out",
        "z": "59e44772b8b19ac2",
        "g": "721a16705d277d3c",
        "name": "link out 12",
        "mode": "link",
        "links": [],
        "x": 615,
        "y": 480,
        "wires": []
    },
    {
        "id": "d85b124a3bbd8ec2",
        "type": "mqtt out",
        "z": "59e44772b8b19ac2",
        "d": true,
        "g": "721a16705d277d3c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 790,
        "y": 460,
        "wires": []
    },
    {
        "id": "1d3089c70d0796ca",
        "type": "http in",
        "z": "59e44772b8b19ac2",
        "d": true,
        "g": "721a16705d277d3c",
        "name": "",
        "url": "",
        "method": "get",
        "upload": false,
        "x": 170,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "becec60fe7a7f1b6",
        "type": "comment",
        "z": "74a3df67b6a11cf7",
        "name": "RASA ACTION SERVER INFERENCE",
        "info": "",
        "x": 230,
        "y": 360,
        "wires": []
    },
    {
        "id": "0e535ba886a0ec5a",
        "type": "comment",
        "z": "74a3df67b6a11cf7",
        "name": "OPENAPI ASSISTANTS API INFERENCE",
        "info": "",
        "x": 240,
        "y": 520,
        "wires": []
    },
    {
        "id": "ca4735ab06df55d7",
        "type": "simrasa",
        "z": "74a3df67b6a11cf7",
        "g": "017ac4aba19658a9",
        "name": "INIT",
        "action": "TEST",
        "errtocatch": false,
        "slots": [
            {
                "slotname": "",
                "slotname-type": "str",
                "slotvalue": "",
                "slotvalue-type": "str"
            }
        ],
        "x": 170,
        "y": 80,
        "wires": [
            [
                "bd7ad76ece636095"
            ]
        ]
    },
    {
        "id": "ca60ffed2e11d1ca",
        "type": "setslots",
        "z": "74a3df67b6a11cf7",
        "g": "017ac4aba19658a9",
        "name": "",
        "text": "",
        "addcheck": false,
        "slots": [
            {
                "slotname": "",
                "slotname-type": null,
                "slotvalue": "",
                "slotvalue-type": null
            }
        ],
        "senderr": false,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "c0f065053a3abc5d"
            ]
        ]
    },
    {
        "id": "c0f065053a3abc5d",
        "type": "sendtext",
        "z": "74a3df67b6a11cf7",
        "g": "017ac4aba19658a9",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "",
        "textType": "str",
        "senderr": false,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "af1a9dc24a1004ec"
            ]
        ]
    },
    {
        "id": "bd7ad76ece636095",
        "type": "init",
        "z": "74a3df67b6a11cf7",
        "g": "017ac4aba19658a9",
        "name": "",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "ca60ffed2e11d1ca"
            ]
        ]
    },
    {
        "id": "6ae35abdc07f0d1a",
        "type": "finish",
        "z": "74a3df67b6a11cf7",
        "g": "017ac4aba19658a9",
        "name": "",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "533dd44f013b890e"
            ]
        ]
    },
    {
        "id": "63f0895f11bf5481",
        "type": "sendbuttons",
        "z": "74a3df67b6a11cf7",
        "g": "017ac4aba19658a9",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "",
        "textType": "str",
        "addmode": "no",
        "senderr": false,
        "buttons": [
            {
                "title": "",
                "title-type": null,
                "payload": "",
                "payload-type": null
            }
        ],
        "x": 670,
        "y": 180,
        "wires": [
            [
                "6ae35abdc07f0d1a"
            ]
        ]
    },
    {
        "id": "533dd44f013b890e",
        "type": "http request",
        "z": "74a3df67b6a11cf7",
        "g": "017ac4aba19658a9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 240,
        "wires": [
            [
                "434fcfad1ddb4616"
            ]
        ]
    },
    {
        "id": "434fcfad1ddb4616",
        "type": "debug",
        "z": "74a3df67b6a11cf7",
        "g": "017ac4aba19658a9",
        "name": "CALL: AS RT - LOG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "log",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "af1a9dc24a1004ec",
        "type": "sendextra",
        "z": "74a3df67b6a11cf7",
        "g": "017ac4aba19658a9",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "",
        "textType": "str",
        "image": "",
        "imageType": "str",
        "attachment": "",
        "attachmentType": "str",
        "senderr": false,
        "x": 660,
        "y": 120,
        "wires": [
            [
                "63f0895f11bf5481"
            ]
        ]
    },
    {
        "id": "02d0bffd4c168cd2",
        "type": "function",
        "z": "74a3df67b6a11cf7",
        "g": "1219e15595a0609a",
        "name": "SESSION_EVENT",
        "func": "const session = msg.payload.history.session;\n\nsession.calendar.push({\n    time: new Date(),\n    event: msg.payload.history.action\n});\n\nmsg.payload.history = {\n    ... msg.payload.history,\n    session\n}\n\nconst PC = flow.get(\"PC\") || {};\nPC.sessions = PC.sessions || [];\n\nPC.sessions.push(msg.payload.history);\n\nflow.set(\"PC\", PC);\n\nmsg.log = PC;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3520789a629a34e3",
        "type": "OpenAI API",
        "z": "74a3df67b6a11cf7",
        "d": true,
        "g": "1219e15595a0609a",
        "name": "",
        "service": "",
        "method": "",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "02d0bffd4c168cd2"
            ]
        ]
    },
    {
        "id": "097e478b03cf93a0",
        "type": "function",
        "z": "cf3b61b89757c1e2",
        "g": "b163473a404768cb",
        "name": "set STATE to MAKE_NETWORK",
        "func": "msg.payload.project = { \n    state:\"LOADED\", \n     button: {\n            label: \"Generate semantic network and train mock data\",\n            tooltip: \"It will produce a library of rasa-like yaml files\",\n            payload: \"MAKE_NETWORK\"\n        }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 340,
        "wires": [
            [
                "2469fc395f856ba4",
                "fbbde6f9aec1aaa4",
                "868e24bc22c13fbc",
                "b5529e262d0f8e01"
            ]
        ]
    },
    {
        "id": "0157cc31eb56f499",
        "type": "file in",
        "z": "cf3b61b89757c1e2",
        "g": "b163473a404768cb",
        "name": "domain.data.schema.json",
        "filename": "/Users/morente/Desktop/THEIA_PATH/taller_tc/JE20/je20/fia/src/as-seed/guest/corpus/domain.data.schema.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 530,
        "y": 200,
        "wires": [
            [
                "3cdd1f03f893f0d2"
            ]
        ]
    },
    {
        "id": "2469fc395f856ba4",
        "type": "debug",
        "z": "cf3b61b89757c1e2",
        "g": "b163473a404768cb",
        "name": "AS PROJECT LOADER IMPORTER",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "f808188b0fbfb241",
        "type": "function",
        "z": "cf3b61b89757c1e2",
        "g": "b163473a404768cb",
        "name": "LOAD_JSON",
        "func": "msg.step = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "0157cc31eb56f499"
            ]
        ]
    },
    {
        "id": "6ad1c92afb1be00a",
        "type": "function",
        "z": "cf3b61b89757c1e2",
        "g": "b163473a404768cb",
        "name": "STEP_OUT",
        "func": "msg.step.domain = {\n    ...msg.step.domain,\n    schema: msg.payload,\n};\nmsg.payload = msg.step;\n\ndelete msg.step;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 200,
        "wires": [
            [
                "ef3d26e141fc909d"
            ]
        ]
    },
    {
        "id": "3cdd1f03f893f0d2",
        "type": "json",
        "z": "cf3b61b89757c1e2",
        "g": "b163473a404768cb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 200,
        "wires": [
            [
                "6ad1c92afb1be00a"
            ]
        ]
    },
    {
        "id": "fbbde6f9aec1aaa4",
        "type": "link out",
        "z": "cf3b61b89757c1e2",
        "g": "b163473a404768cb",
        "name": "link out 24",
        "mode": "link",
        "links": [],
        "x": 1005,
        "y": 340,
        "wires": []
    },
    {
        "id": "5d05c6b18fac5b96",
        "type": "link in",
        "z": "cf3b61b89757c1e2",
        "g": "b163473a404768cb",
        "name": "link in 16",
        "links": [],
        "x": 145,
        "y": 200,
        "wires": [
            [
                "e673376aeac6736e"
            ]
        ]
    },
    {
        "id": "0a18d168f34db917",
        "type": "json",
        "z": "cf3b61b89757c1e2",
        "g": "b163473a404768cb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "eb47819a06de7406"
            ]
        ]
    },
    {
        "id": "7943f3fe5551336f",
        "type": "file in",
        "z": "cf3b61b89757c1e2",
        "g": "b163473a404768cb",
        "name": "domain.data.schema.auth.json",
        "filename": "/Users/morente/Desktop/THEIA_PATH/taller_tc/JE20/je20/fia/src/as-seed/guest/corpus/domain.data.schema.auth.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 550,
        "y": 260,
        "wires": [
            [
                "0a18d168f34db917"
            ]
        ]
    },
    {
        "id": "ef3d26e141fc909d",
        "type": "function",
        "z": "cf3b61b89757c1e2",
        "g": "b163473a404768cb",
        "name": "STEP_IN",
        "func": "msg.step = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 260,
        "wires": [
            [
                "7943f3fe5551336f"
            ]
        ]
    },
    {
        "id": "eb47819a06de7406",
        "type": "function",
        "z": "cf3b61b89757c1e2",
        "g": "b163473a404768cb",
        "name": "STEP_OUT",
        "func": "msg.step.domain = {\n    ...msg.step.domain,\n    auth: msg.payload,\n};\nmsg.payload = msg.step;\n\ndelete msg.step;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 260,
        "wires": [
            [
                "097e478b03cf93a0"
            ]
        ]
    },
    {
        "id": "e673376aeac6736e",
        "type": "switch",
        "z": "cf3b61b89757c1e2",
        "g": "b163473a404768cb",
        "name": "msg.payload.project.button.payload",
        "property": "payload.project.button.payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "LOAD_JSON",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "f808188b0fbfb241"
            ],
            []
        ]
    },
    {
        "id": "ae990cda8738a4ca",
        "type": "comment",
        "z": "cf3b61b89757c1e2",
        "g": "b163473a404768cb",
        "name": "LOAD JSON ADMIN ACTION",
        "info": "",
        "x": 240,
        "y": 440,
        "wires": []
    },
    {
        "id": "4579911d8726318a",
        "type": "ui_table",
        "z": "cf3b61b89757c1e2",
        "group": "62c2fbbe180855e4",
        "name": "domain.data.schema.auth",
        "order": 4,
        "width": "12",
        "height": "10",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1350,
        "y": 640,
        "wires": []
    },
    {
        "id": "0bec7054131b549f",
        "type": "ui_table",
        "z": "cf3b61b89757c1e2",
        "group": "62c2fbbe180855e4",
        "name": "domain.data.schema",
        "order": 3,
        "width": "12",
        "height": "10",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1320,
        "y": 560,
        "wires": []
    },
    {
        "id": "f92a9371d3c09859",
        "type": "debug",
        "z": "cf3b61b89757c1e2",
        "name": "msg.payload.domain.schema.rows",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 620,
        "wires": []
    },
    {
        "id": "868e24bc22c13fbc",
        "type": "function",
        "z": "cf3b61b89757c1e2",
        "name": "msg.payload.domain.schema.rows",
        "func": "msg.step = msg.payload;\n\nlet rows = msg.payload.domain.schema.Model.rows;\n\nrows = rows.map(r => {\n    const data = {\n    entity: r.type,\n    pk: r.pk ,\n    fk: r.fk || '-',\n    data: r.data.nombre\n    };\n    return data;\n})\nmsg.payload = rows;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 580,
        "wires": [
            [
                "0bec7054131b549f",
                "f92a9371d3c09859"
            ]
        ]
    },
    {
        "id": "b5529e262d0f8e01",
        "type": "function",
        "z": "cf3b61b89757c1e2",
        "name": "msg.payload.domain.schema.auth.rows",
        "func": "msg.step = msg.payload;\n\nlet rows = msg.payload.domain.auth.Model.rows;\n\nrows = rows.map(r => {\n    const data = {\n    entity: r.type,\n    pk: r.pk ,\n    fk: r.fk || '-',\n    data: JSON.stringify(r.data)\n    };\n    return data;\n})\nmsg.payload = rows;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 620,
        "wires": [
            [
                "4579911d8726318a"
            ]
        ]
    },
    {
        "id": "5b0e8633134294e7",
        "type": "function",
        "z": "cf3b61b89757c1e2",
        "name": "empty",
        "func": "msg.payload = [];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 820,
        "wires": [
            [
                "0bec7054131b549f",
                "4579911d8726318a"
            ]
        ]
    },
    {
        "id": "8e6d9a1adf9ccfff",
        "type": "inject",
        "z": "cf3b61b89757c1e2",
        "name": "empty",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 870,
        "y": 820,
        "wires": [
            [
                "5b0e8633134294e7"
            ]
        ]
    },
    {
        "id": "e68ed9ed489844b5",
        "type": "json",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 480,
        "wires": [
            [
                "7f22a9a6329a4738"
            ]
        ]
    },
    {
        "id": "0bc5a4423142ca1b",
        "type": "function",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "GET FORMS",
        "func": "msg.step = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 480,
        "wires": [
            [
                "3aa5a79d9d7b5473"
            ]
        ]
    },
    {
        "id": "3aa5a79d9d7b5473",
        "type": "file in",
        "z": "8a29186ece79cb4e",
        "name": "sbc.kads.ota_1.json",
        "filename": "/Users/morente/Desktop/THEIA_PATH/taller_tc/JE20/je20/fia/src/as-seed/guest/corpus/sbc.kads.ota_1.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 480,
        "wires": [
            [
                "e68ed9ed489844b5"
            ]
        ]
    },
    {
        "id": "7f22a9a6329a4738",
        "type": "function",
        "z": "8a29186ece79cb4e",
        "name": "STEP_OUT",
        "func": "msg.step.domain = {\n    ...msg.step.domain,\n    sbc_forms: msg.payload,\n};\nmsg.payload = msg.step;\n\ndelete msg.step;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 480,
        "wires": [
            [
                "41d3f15aa765a6d8"
            ]
        ]
    },
    {
        "id": "6300f9e23ee78cb3",
        "type": "file in",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "sbc-common-kads-loop/log-chain.json",
        "filename": "/Users/morente/Desktop/THEIA_PATH/taller_tc/JE20/je20/fia/src/as-seed/guest/corpus/sbc-common-kads-loop/log-chain.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "7e28d0e4f7776b93"
            ]
        ]
    },
    {
        "id": "e6a2dc1b6e16439b",
        "type": "function",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "MAKE_NETWORK",
        "func": "msg.step = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 200,
        "wires": [
            [
                "6300f9e23ee78cb3"
            ]
        ]
    },
    {
        "id": "eb59b66b3825c268",
        "type": "function",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "STEP_OUT",
        "func": "msg.step.domain = {\n    ...msg.step.domain,\n    sbc_logs: msg.payload,\n};\nmsg.payload = msg.step;\n\ndelete msg.step;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 360,
        "wires": [
            [
                "0bc5a4423142ca1b"
            ]
        ]
    },
    {
        "id": "7e28d0e4f7776b93",
        "type": "json",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 280,
        "wires": [
            [
                "eb59b66b3825c268"
            ]
        ]
    },
    {
        "id": "d16b16e4412504db",
        "type": "debug",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "AS SBC CommonKads LOGs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 440,
        "wires": []
    },
    {
        "id": "b6f5b0ff4dd77a9d",
        "type": "switch",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "msg.payload.project.button.payload",
        "property": "payload.project.button.payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "MAKE_NETWORK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "e6a2dc1b6e16439b"
            ]
        ]
    },
    {
        "id": "aac5ad449b5ae4eb",
        "type": "link in",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "link in 18",
        "links": [],
        "x": 155,
        "y": 200,
        "wires": [
            [
                "b6f5b0ff4dd77a9d"
            ]
        ]
    },
    {
        "id": "6e7caf9ad45488f5",
        "type": "function",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "set STATE to BUILD_FRAME_BOOK",
        "func": "msg.payload.project = { \n    state:\"BUILDED\", \n     button: {\n            label: \"Create Frame Book matching stories in rasa with the model\",\n            tooltip: \"It will produce a library of rasa-like yaml files\",\n            payload: \"BUILD_FRAME_BOOK\"\n        }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 380,
        "wires": [
            [
                "d16b16e4412504db",
                "35d84d4a038b79f3"
            ]
        ]
    },
    {
        "id": "35d84d4a038b79f3",
        "type": "link out",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "link out 26",
        "mode": "link",
        "links": [],
        "x": 1005,
        "y": 340,
        "wires": []
    },
    {
        "id": "eb1b7ee9b3f17a23",
        "type": "comment",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "MAKE NETWORK ADMIN ACTION",
        "info": "",
        "x": 240,
        "y": 600,
        "wires": []
    },
    {
        "id": "8289edc614c00317",
        "type": "json",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 540,
        "wires": [
            [
                "2fbbf106e6748943"
            ]
        ]
    },
    {
        "id": "41d3f15aa765a6d8",
        "type": "function",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "GET FORMS",
        "func": "msg.step = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 540,
        "wires": [
            [
                "131f0fc72eaad95b"
            ]
        ]
    },
    {
        "id": "131f0fc72eaad95b",
        "type": "file in",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "sbc.kads.app.json",
        "filename": "/Users/morente/Desktop/THEIA_PATH/taller_tc/JE20/je20/fia/src/as-seed/guest/corpus/sbc.kads.app.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 510,
        "y": 540,
        "wires": [
            [
                "8289edc614c00317"
            ]
        ]
    },
    {
        "id": "2fbbf106e6748943",
        "type": "function",
        "z": "8a29186ece79cb4e",
        "g": "7d5afbecd7cda118",
        "name": "STEP_OUT",
        "func": "msg.step.domain = {\n    ...msg.step.domain,\n    sbc_app: msg.payload,\n};\nmsg.payload = msg.step;\n\ndelete msg.step;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 540,
        "wires": [
            [
                "6e7caf9ad45488f5"
            ]
        ]
    },
    {
        "id": "6a3a6a73123ec2e2",
        "type": "switch",
        "z": "fd9e8981ed977824",
        "name": "msg.payload.project.button.payload",
        "property": "payload.project.button.payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BUILD_FRAME_BOOK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "65ebb1f174c917d8"
            ]
        ]
    },
    {
        "id": "2708704daab1388f",
        "type": "link in",
        "z": "fd9e8981ed977824",
        "name": "link in 21",
        "links": [],
        "x": 55,
        "y": 280,
        "wires": [
            [
                "6a3a6a73123ec2e2"
            ]
        ]
    },
    {
        "id": "f8eb751aaabb6719",
        "type": "function",
        "z": "fd9e8981ed977824",
        "name": "BUILD_FRAME_BOOK",
        "func": "msg.step = msg.payload;\n\nlet forms = msg.payload.domain.sbc_forms;\n\nconst ALTERNATIVASlogs = forms['alternativas'];\nconst OBJETIVOlogs = forms['objetivo'];\nconst ESPECIFICACIONlogs = forms['especificacion'];\nconst SISTEMAlogs = forms['sistema'];\n\n\nmsg.payload = {\n    ALTERNATIVASlogs,\n    OBJETIVOlogs,\n    ESPECIFICACIONlogs,\n    SISTEMAlogs\n}\nmsg.step.domain.sbc_forms = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 520,
        "wires": [
            [
                "f0acdf25ffc87497",
                "20af1dabbfbf872e",
                "37e13c1f6281f68f",
                "b0c6d0c464192950"
            ]
        ]
    },
    {
        "id": "3f242e4c3528f95d",
        "type": "ui_table",
        "z": "fd9e8981ed977824",
        "group": "29ed898c816c2962",
        "name": "ALTERNATIVAS",
        "order": 4,
        "width": "5",
        "height": "10",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1440,
        "y": 520,
        "wires": []
    },
    {
        "id": "f0acdf25ffc87497",
        "type": "change",
        "z": "fd9e8981ed977824",
        "name": "SISTEMAlogs",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SISTEMAlogs",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 640,
        "wires": [
            [
                "3e60b0b8e560deaf"
            ]
        ]
    },
    {
        "id": "e8cf1cbf82fb259c",
        "type": "ui_table",
        "z": "fd9e8981ed977824",
        "group": "29ed898c816c2962",
        "name": "ESPECIFICACION",
        "order": 2,
        "width": "5",
        "height": "10",
        "columns": [
            {
                "field": "estado",
                "title": "",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fecha",
                "title": "",
                "width": "25%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1450,
        "y": 600,
        "wires": []
    },
    {
        "id": "20af1dabbfbf872e",
        "type": "change",
        "z": "fd9e8981ed977824",
        "name": "ALTERNATIVASlogs",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ALTERNATIVASlogs",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 520,
        "wires": [
            [
                "3f242e4c3528f95d"
            ]
        ]
    },
    {
        "id": "24bb1ac0ae8e247c",
        "type": "comment",
        "z": "fd9e8981ed977824",
        "name": "RUN COMMON KADS ASSISTANCE ADMIN ACTION",
        "info": "",
        "x": 300,
        "y": 840,
        "wires": []
    },
    {
        "id": "a22c7738842141b3",
        "type": "link in",
        "z": "fd9e8981ed977824",
        "name": "link in 22",
        "links": [],
        "x": 1655,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "38d92f161f93bc3e",
        "type": "switch",
        "z": "fd9e8981ed977824",
        "name": "msg.payload.project.button.payload",
        "property": "payload.project.button.payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BUILD_FRAME_BOOK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 520,
        "wires": [
            [
                "f8eb751aaabb6719"
            ]
        ]
    },
    {
        "id": "342a726790403bc1",
        "type": "link in",
        "z": "fd9e8981ed977824",
        "name": "link in 23",
        "links": [],
        "x": 175,
        "y": 720,
        "wires": [
            [
                "38d92f161f93bc3e"
            ]
        ]
    },
    {
        "id": "d4560aca4951dd76",
        "type": "link out",
        "z": "fd9e8981ed977824",
        "name": "link out 29",
        "mode": "link",
        "links": [],
        "x": 1465,
        "y": 840,
        "wires": []
    },
    {
        "id": "840e092da3977d6e",
        "type": "ui_table",
        "z": "fd9e8981ed977824",
        "group": "29ed898c816c2962",
        "name": "OBJETIVO",
        "order": 3,
        "width": "5",
        "height": "10",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1430,
        "y": 560,
        "wires": []
    },
    {
        "id": "3e60b0b8e560deaf",
        "type": "ui_table",
        "z": "fd9e8981ed977824",
        "group": "574d81dd5d5a58a1",
        "name": "SISTEMA (APP)",
        "order": 3,
        "width": "0",
        "height": "0",
        "columns": [
            {
                "field": "estado",
                "title": "",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fecha",
                "title": "",
                "width": "25%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1440,
        "y": 640,
        "wires": []
    },
    {
        "id": "37e13c1f6281f68f",
        "type": "change",
        "z": "fd9e8981ed977824",
        "name": "OBJETIVOlogs",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.OBJETIVOlogs",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 560,
        "wires": [
            [
                "840e092da3977d6e"
            ]
        ]
    },
    {
        "id": "b0c6d0c464192950",
        "type": "change",
        "z": "fd9e8981ed977824",
        "name": "ESPECIFICACIONlogs",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ESPECIFICACIONlogs",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 600,
        "wires": [
            [
                "e8cf1cbf82fb259c"
            ]
        ]
    },
    {
        "id": "65ebb1f174c917d8",
        "type": "function",
        "z": "fd9e8981ed977824",
        "g": "c29dca0639486150",
        "name": "BUILD_FRAME_BOOK",
        "func": "msg.step = msg.payload;\n\nlet logs = msg.payload.domain.sbc_logs.estado;\n\nconst IDElogs = logs['IDE-app'].concat(logs['ide']);\nconst DESIGNERlogs = logs['ide.situada'];\nconst SBClogs = logs['common.kads'];\nconst PROJECTlogs = logs['fia.sbc.common.kads'];\n\n\nmsg.payload = {\n    IDElogs,\n    DESIGNERlogs,\n    SBClogs,\n    PROJECTlogs\n}\nmsg.step.domain.sbc_logs = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 80,
        "wires": [
            [
                "77cd4d502da1350a",
                "96f76a958d1a24d9",
                "79ed7ebe06a6dddf",
                "fd93728e662093ec",
                "2ea25bbcf451daf1"
            ]
        ]
    },
    {
        "id": "64d7b4919dcd7aea",
        "type": "ui_table",
        "z": "fd9e8981ed977824",
        "g": "c29dca0639486150",
        "group": "290ead2f2b166092",
        "name": "DESIGNER_SBC_KADS_PROJECT",
        "order": 6,
        "width": "24",
        "height": "4",
        "columns": [
            {
                "field": "estado",
                "title": "",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fecha",
                "title": "",
                "width": "25%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1220,
        "y": 80,
        "wires": []
    },
    {
        "id": "77cd4d502da1350a",
        "type": "change",
        "z": "fd9e8981ed977824",
        "g": "c29dca0639486150",
        "name": "IDElogs",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.IDElogs",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 160,
        "wires": [
            [
                "88f7a6bc62ddcf55"
            ]
        ]
    },
    {
        "id": "88f7a6bc62ddcf55",
        "type": "ui_table",
        "z": "fd9e8981ed977824",
        "g": "c29dca0639486150",
        "group": "290ead2f2b166092",
        "name": "DESIGNER_SBC_IDE",
        "order": 7,
        "width": "24",
        "height": "4",
        "columns": [
            {
                "field": "estado",
                "title": "",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fecha",
                "title": "",
                "width": "25%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1260,
        "y": 160,
        "wires": []
    },
    {
        "id": "96f76a958d1a24d9",
        "type": "change",
        "z": "fd9e8981ed977824",
        "g": "c29dca0639486150",
        "name": "SBClogs",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SBClogs",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 120,
        "wires": [
            [
                "64d7b4919dcd7aea"
            ]
        ]
    },
    {
        "id": "64c3a70c44fc3e6d",
        "type": "comment",
        "z": "fd9e8981ed977824",
        "g": "c29dca0639486150",
        "name": "RUN COMMON KADS ASSISTANCE ADMIN ACTION",
        "info": "",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "79ed7ebe06a6dddf",
        "type": "function",
        "z": "fd9e8981ed977824",
        "g": "c29dca0639486150",
        "name": "set STATE to COMPILE_AND_BUNDLE",
        "func": "msg.payload.project = { \n    state:\"BUNDLED\", \n     button: {\n            label: \"Compile to RASA YAML stories library\",\n            tooltip: \"It will produce a library of rasa-like yaml files\",\n            payload: \"COMPILE_AND_BUNDLE\"\n        }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 320,
        "wires": [
            [
                "d0c1430001f783b3"
            ]
        ]
    },
    {
        "id": "d0c1430001f783b3",
        "type": "link out",
        "z": "fd9e8981ed977824",
        "g": "c29dca0639486150",
        "name": "link out 28",
        "mode": "link",
        "links": [],
        "x": 945,
        "y": 320,
        "wires": []
    },
    {
        "id": "7229a9161e13f3ec",
        "type": "function",
        "z": "fd9e8981ed977824",
        "name": "empty",
        "func": "msg.payload = [];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 800,
        "wires": [
            [
                "3f242e4c3528f95d",
                "840e092da3977d6e",
                "e8cf1cbf82fb259c",
                "3e60b0b8e560deaf"
            ]
        ]
    },
    {
        "id": "ded3508adf9f7c14",
        "type": "inject",
        "z": "fd9e8981ed977824",
        "name": "empty",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 810,
        "y": 800,
        "wires": [
            [
                "7229a9161e13f3ec",
                "4c53415c4f3e7a92",
                "fdd2eb2f46f2a9e4"
            ]
        ]
    },
    {
        "id": "2ea25bbcf451daf1",
        "type": "change",
        "z": "fd9e8981ed977824",
        "g": "c29dca0639486150",
        "name": "DESIGNERlogs",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DESIGNERlogs",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 200,
        "wires": [
            [
                "5c0c4f3a6c8677ed"
            ]
        ]
    },
    {
        "id": "fd93728e662093ec",
        "type": "change",
        "z": "fd9e8981ed977824",
        "g": "c29dca0639486150",
        "name": "PROJECTogs",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.PROJECTlogs",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 80,
        "wires": [
            [
                "ce41e98f5d013589"
            ]
        ]
    },
    {
        "id": "ce41e98f5d013589",
        "type": "ui_table",
        "z": "fd9e8981ed977824",
        "g": "c29dca0639486150",
        "group": "290ead2f2b166092",
        "name": "DESIGNER_SBC_KADS_LOGS",
        "order": 5,
        "width": "24",
        "height": "4",
        "columns": [
            {
                "field": "estado",
                "title": "",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fecha",
                "title": "",
                "width": "25%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1210,
        "y": 120,
        "wires": []
    },
    {
        "id": "5c0c4f3a6c8677ed",
        "type": "ui_table",
        "z": "fd9e8981ed977824",
        "g": "c29dca0639486150",
        "group": "290ead2f2b166092",
        "name": "DESIGNER_SBC_KADS_AI_API",
        "order": 4,
        "width": "24",
        "height": "4",
        "columns": [
            {
                "field": "estado",
                "title": "",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fecha",
                "title": "",
                "width": "25%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1210,
        "y": 200,
        "wires": []
    },
    {
        "id": "90a4b10fc15112bb",
        "type": "function",
        "z": "fd9e8981ed977824",
        "g": "c29dca0639486150",
        "name": "empty",
        "func": "msg.payload = [];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 260,
        "wires": [
            [
                "ce41e98f5d013589",
                "64d7b4919dcd7aea",
                "88f7a6bc62ddcf55",
                "5c0c4f3a6c8677ed"
            ]
        ]
    },
    {
        "id": "e1b6a3d1bbc76d98",
        "type": "inject",
        "z": "fd9e8981ed977824",
        "g": "c29dca0639486150",
        "name": "empty",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 650,
        "y": 260,
        "wires": [
            [
                "90a4b10fc15112bb"
            ]
        ]
    },
    {
        "id": "89c3d07df88bb642",
        "type": "debug",
        "z": "fd9e8981ed977824",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 980,
        "wires": []
    },
    {
        "id": "9966c64779c8207d",
        "type": "switch",
        "z": "fd9e8981ed977824",
        "name": "msg.payload.project.button.payload",
        "property": "payload.project.button.payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BUILD_FRAME_BOOK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 940,
        "wires": [
            [
                "42e1fdb225db97c4",
                "3647d39daee5e979",
                "94b947013e704554"
            ]
        ]
    },
    {
        "id": "42e1fdb225db97c4",
        "type": "function",
        "z": "fd9e8981ed977824",
        "name": "AS_OM-01",
        "func": "msg.step = msg.payload;\n\nconst form = {};\nform.payload = msg.payload.domain.sbc_forms.find(f => f.name == \"AS_OM-01\");\n\nconst item = (r) => {\n    return {\n        ...r, \n        data: JSON.stringify(r.data)\n    }\n}\nconst entities = {};\nentities.payload = form.payload.data.entidades.map(r => item(r));\n\nconst actions = {};\nactions.payload = form.payload.data.acciones.map(r => item(r));\n\nreturn [entities, actions, form, msg];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 900,
        "wires": [
            [
                "9775c0072dd764d7",
                "4c53415c4f3e7a92"
            ],
            [
                "b537ee7389d294d0",
                "fdd2eb2f46f2a9e4"
            ],
            [
                "2c0d2d3b448297a0"
            ]
        ]
    },
    {
        "id": "9775c0072dd764d7",
        "type": "debug",
        "z": "fd9e8981ed977824",
        "name": "Entities",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 880,
        "wires": []
    },
    {
        "id": "b537ee7389d294d0",
        "type": "debug",
        "z": "fd9e8981ed977824",
        "name": "Actions",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 940,
        "wires": []
    },
    {
        "id": "2c0d2d3b448297a0",
        "type": "debug",
        "z": "fd9e8981ed977824",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 1020,
        "wires": []
    },
    {
        "id": "fdd2eb2f46f2a9e4",
        "type": "ui_table",
        "z": "fd9e8981ed977824",
        "group": "ccf212632d94700f",
        "name": "Acciones",
        "order": 6,
        "width": "12",
        "height": "5",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1120,
        "y": 940,
        "wires": []
    },
    {
        "id": "4c53415c4f3e7a92",
        "type": "ui_table",
        "z": "fd9e8981ed977824",
        "group": "ccf212632d94700f",
        "name": "Entidades",
        "order": 4,
        "width": "12",
        "height": "5",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1020,
        "y": 1160,
        "wires": []
    },
    {
        "id": "3fb5b9f341cde58a",
        "type": "ui_table",
        "z": "fd9e8981ed977824",
        "group": "ccf212632d94700f",
        "name": "Auth",
        "order": 5,
        "width": "12",
        "height": "5",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1150,
        "y": 1160,
        "wires": []
    },
    {
        "id": "12c4d5fcea1e3506",
        "type": "ui_table",
        "z": "fd9e8981ed977824",
        "group": "ccf212632d94700f",
        "name": "Agentes",
        "order": 2,
        "width": "12",
        "height": "5",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1020,
        "y": 1120,
        "wires": []
    },
    {
        "id": "3647d39daee5e979",
        "type": "function",
        "z": "fd9e8981ed977824",
        "name": "AS_AM-01",
        "func": "msg.step = msg.payload;\n\nconst form = {};\nform.payload = msg.payload.domain.sbc_forms.find(f => f.name == \"AS_AM-01\");\n\nconst item = (r) => {\n    return {\n        ...r, \n        data: JSON.stringify(r.data)\n    }\n}\n\nconst agentes = {};\nagentes.payload = form.payload.data.agentes.map(r => item(r));\n\nconst agentesAuth = {};\nagentesAuth.payload = form.payload.data.agentesAuth.map(r => item(r));\n\nconst tareas = {};\ntareas.payload = form.payload.data.tareas.map(r => item(r));\n\nreturn [agentes, agentesAuth, tareas, form];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1200,
        "wires": [
            [
                "12c4d5fcea1e3506",
                "31edee9a82a95a4f"
            ],
            [
                "3fb5b9f341cde58a",
                "e08f9582bdb7e80c"
            ],
            [
                "9832174fbdcbba24",
                "553531f4d31b3b9e"
            ]
        ]
    },
    {
        "id": "9832174fbdcbba24",
        "type": "ui_table",
        "z": "fd9e8981ed977824",
        "group": "ccf212632d94700f",
        "name": "Tareas",
        "order": 3,
        "width": "12",
        "height": "5",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1150,
        "y": 1120,
        "wires": []
    },
    {
        "id": "31edee9a82a95a4f",
        "type": "debug",
        "z": "fd9e8981ed977824",
        "name": "Agentes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1240,
        "wires": []
    },
    {
        "id": "e08f9582bdb7e80c",
        "type": "debug",
        "z": "fd9e8981ed977824",
        "name": "Auth",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1280,
        "wires": []
    },
    {
        "id": "553531f4d31b3b9e",
        "type": "debug",
        "z": "fd9e8981ed977824",
        "name": "Tareas",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1320,
        "wires": []
    },
    {
        "id": "bd3cb3612996acb8",
        "type": "ui_table",
        "z": "fd9e8981ed977824",
        "group": "ccf212632d94700f",
        "name": "OTA 1 Form",
        "order": 1,
        "width": "12",
        "height": "5",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 690,
        "y": 1080,
        "wires": []
    },
    {
        "id": "94b947013e704554",
        "type": "function",
        "z": "fd9e8981ed977824",
        "name": "OTA 1 - FORM",
        "func": "msg.step = msg.payload;\n\nconst item = (r) => {\n    return {\n        ...r, \n        data: JSON.stringify(r.data)\n    }\n}\n\nconst form = {};\nform.payload = msg.payload.domain.sbc_forms.map(r => item(r));\n\n\nreturn [form, form, form, msg];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1040,
        "wires": [
            [
                "bd3cb3612996acb8",
                "89c3d07df88bb642"
            ],
            [],
            []
        ]
    },
    {
        "id": "9c26dd3a9f020a81",
        "type": "switch",
        "z": "fd9e8981ed977824",
        "name": "msg.payload.project.button.payload",
        "property": "payload.project.button.payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BUILD_FRAME_BOOK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 1520,
        "wires": [
            [
                "861823c68719fb8f",
                "d0d399907bade543"
            ]
        ]
    },
    {
        "id": "861823c68719fb8f",
        "type": "function",
        "z": "fd9e8981ed977824",
        "name": "ALEPHSCRIPT APP (KADS PROJECT)",
        "func": "msg.step = msg.payload;\n\nconst form = {};\nform.payload = JSON.stringify(msg.payload.domain.sbc_app, null, \"\\t\");\n\nreturn [form, form, form, msg];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1520,
        "wires": [
            [
                "535206f4d92d4d1c",
                "d0d399907bade543"
            ],
            [],
            []
        ]
    },
    {
        "id": "d0d399907bade543",
        "type": "debug",
        "z": "fd9e8981ed977824",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 1580,
        "wires": []
    },
    {
        "id": "a8fc0e5b19d3dcd8",
        "type": "function",
        "z": "fd9e8981ed977824",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "535206f4d92d4d1c",
        "type": "template",
        "z": "fd9e8981ed977824",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<pre>\n    {{payload}}\n</pre>",
        "output": "str",
        "x": 980,
        "y": 1500,
        "wires": [
            [
                "243076825f0a44ff"
            ]
        ]
    },
    {
        "id": "243076825f0a44ff",
        "type": "ui_template",
        "z": "fd9e8981ed977824",
        "group": "63dc29ab27976c8d",
        "name": "APP Raw File",
        "order": 2,
        "width": "24",
        "height": "9",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1180,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "adc738d2f9ef4cc8",
        "type": "function",
        "z": "fd9e8981ed977824",
        "name": "empty",
        "func": "msg.payload = [];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1360,
        "wires": [
            [
                "12c4d5fcea1e3506",
                "4c53415c4f3e7a92",
                "3fb5b9f341cde58a",
                "9832174fbdcbba24",
                "535206f4d92d4d1c",
                "bd3cb3612996acb8"
            ]
        ]
    },
    {
        "id": "26c8eaf48cf9d97c",
        "type": "inject",
        "z": "fd9e8981ed977824",
        "name": "empty",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 550,
        "y": 1360,
        "wires": [
            [
                "adc738d2f9ef4cc8"
            ]
        ]
    },
    {
        "id": "7cb129db92a7e201",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "VIGILANTE",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 120,
        "wires": [
            [
                "206c26188c71951a"
            ]
        ]
    },
    {
        "id": "651075f2053363bf",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "AUTH MANAGER",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 100,
        "wires": [
            [
                "47952521ce2c8ac8",
                "5bcd1a45581eb879",
                "f3b5a6580efec40f"
            ]
        ]
    },
    {
        "id": "c3aee54b9c212d35",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "ROLE MANAGER",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 260,
        "wires": [
            [
                "304bdc112221950c"
            ]
        ]
    },
    {
        "id": "c0342135668b93ee",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "ASISTENTE SCADA",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 600,
        "wires": [
            [
                "60b9c560866c7c4d",
                "04efa87e0f31f704",
                "49cbaa6fcb9ba022"
            ]
        ]
    },
    {
        "id": "62da434d15a06984",
        "type": "inject",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "Unknown user",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"role\":\"user\",\"id\":null}",
        "payloadType": "json",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "7cb129db92a7e201"
            ]
        ]
    },
    {
        "id": "206c26188c71951a",
        "type": "switch",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "651075f2053363bf"
            ],
            [
                "c3aee54b9c212d35",
                "6fd91ee460128c52"
            ]
        ]
    },
    {
        "id": "47952521ce2c8ac8",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "FORM AUTH IN (RANDOM SIGNER)",
        "func": "const array = [\"GUEST\", \"OPERATOR\", \"OWNER\", \"ADMIN\"];\n\nif (!Array.isArray(array) || array.length === 0) {\n    array = []; // Return -1 if the input is not an array or if the array is empty\n}\n  \nconst role =  Math.floor(Math.random() * array.length); // Generate a random index within the bounds of the array length\n\nconst alphabet = 'abcdefghijklmnopqrstuvwxyz'; // Define the alphabet\nlet name = '';\n\nfor (let i = 0; i < role; i++) {\n    const randomIndex = Math.floor(Math.random() * alphabet.length); // Generate a random index within the bounds of the alphabet length\n    name += alphabet[randomIndex]; // Append a random character from the alphabet to the word\n}\n  \nmsg.payload.id = {\n    role: array[role],\n    name\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 100,
        "wires": [
            [
                "a808bdd9c44231e8"
            ]
        ]
    },
    {
        "id": "4762d4c2829ac892",
        "type": "link in",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link in 1",
        "links": [
            "a808bdd9c44231e8"
        ],
        "x": 445,
        "y": 160,
        "wires": [
            [
                "206c26188c71951a"
            ]
        ]
    },
    {
        "id": "a808bdd9c44231e8",
        "type": "link out",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "4762d4c2829ac892"
        ],
        "x": 1245,
        "y": 100,
        "wires": []
    },
    {
        "id": "304bdc112221950c",
        "type": "switch",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "",
        "property": "payload.id.role",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GUEST",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OWNER",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OPERATOR",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ADMIN",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 950,
        "y": 260,
        "wires": [
            [
                "7c4bca2531a0c0d5"
            ],
            [
                "a64f63a4fe63a6d5"
            ],
            [
                "084c1cf41b886bfd"
            ],
            [
                "3b88bbd67f62cbba"
            ]
        ]
    },
    {
        "id": "7c4bca2531a0c0d5",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "GUEST",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 200,
        "wires": [
            [
                "bbb69373d3cf4068"
            ]
        ]
    },
    {
        "id": "d4fc3c2953df6f7a",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "VISITA GUIADA",
        "func": "msg.payload.history = {\n    action: 'TOUR'\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 600,
        "wires": [
            [
                "c0342135668b93ee"
            ]
        ]
    },
    {
        "id": "50e0fec5e8c09975",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "TRANSFERENCIA DE LA VISITA A DEPARTAMENTO",
        "func": "msg.payload.history = {\n    action: 'CONTACT',\n    contact: {\n            from: msg.payload.id,\n            to: null\n        }\n    }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 660,
        "wires": [
            [
                "c0342135668b93ee"
            ]
        ]
    },
    {
        "id": "084c1cf41b886bfd",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "OPERATOR",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "ef3b99cc29f77cf8"
            ]
        ]
    },
    {
        "id": "95b984c35e2791fa",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "PRODUCT USER",
        "func": "msg.payload.history = {\n    action: 'INIT_OPERATOR_DESKTOP',\n    operator: {\n            id: msg.payload.id,\n        }\n    }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 520,
        "wires": [
            [
                "fdf06eae80ddc085"
            ]
        ]
    },
    {
        "id": "a64f63a4fe63a6d5",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "OWNER",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 240,
        "wires": [
            [
                "13afe9cdff1c3d2f"
            ]
        ]
    },
    {
        "id": "059c7ca93e09542a",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "DEVELOPER_BUILDER",
        "func": "msg.payload.history = {\n    action: 'INIT_OWNER_DESKTOP',\n    owner: {\n            id: msg.payload.id,\n        }\n    }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 460,
        "wires": [
            [
                "1bd4496c18f38e26"
            ]
        ]
    },
    {
        "id": "3b88bbd67f62cbba",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "ADMIN",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 320,
        "wires": [
            [
                "462ec13bbb1e8a70"
            ]
        ]
    },
    {
        "id": "02b5b2ab5e3a5b27",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "PRODUCT DESIGNER",
        "func": "msg.payload.history = {\n    action: 'INIT_ADMIN_DESKTOP',\n    admin: {\n            id: msg.payload.id,\n        }\n    }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 400,
        "wires": [
            [
                "473430abab162c29"
            ]
        ]
    },
    {
        "id": "bbb69373d3cf4068",
        "type": "link out",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "8e6131065fac525e"
        ],
        "x": 1285,
        "y": 200,
        "wires": []
    },
    {
        "id": "13afe9cdff1c3d2f",
        "type": "link out",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "9c9fe7fa062c8836"
        ],
        "x": 1285,
        "y": 240,
        "wires": []
    },
    {
        "id": "ef3b99cc29f77cf8",
        "type": "link out",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "e61635f2e9c3725f"
        ],
        "x": 1285,
        "y": 280,
        "wires": []
    },
    {
        "id": "462ec13bbb1e8a70",
        "type": "link out",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "c7c101748c950662"
        ],
        "x": 1285,
        "y": 320,
        "wires": []
    },
    {
        "id": "8e6131065fac525e",
        "type": "link in",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link in 2",
        "links": [
            "bbb69373d3cf4068"
        ],
        "x": 325,
        "y": 640,
        "wires": [
            [
                "d4fc3c2953df6f7a",
                "50e0fec5e8c09975"
            ]
        ]
    },
    {
        "id": "9c9fe7fa062c8836",
        "type": "link in",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link in 3",
        "links": [
            "13afe9cdff1c3d2f"
        ],
        "x": 225,
        "y": 460,
        "wires": [
            [
                "059c7ca93e09542a"
            ]
        ]
    },
    {
        "id": "e61635f2e9c3725f",
        "type": "link in",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link in 4",
        "links": [
            "ef3b99cc29f77cf8"
        ],
        "x": 345,
        "y": 520,
        "wires": [
            [
                "95b984c35e2791fa"
            ]
        ]
    },
    {
        "id": "c7c101748c950662",
        "type": "link in",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link in 5",
        "links": [
            "462ec13bbb1e8a70"
        ],
        "x": 115,
        "y": 400,
        "wires": [
            [
                "02b5b2ab5e3a5b27"
            ]
        ]
    },
    {
        "id": "60b9c560866c7c4d",
        "type": "debug",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "AS SESSION",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.id",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "04efa87e0f31f704",
        "type": "debug",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "AS CONSOLE_TIMELINE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.history",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 560,
        "wires": []
    },
    {
        "id": "6fd91ee460128c52",
        "type": "debug",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "CALL: AS ROLE MANAGER",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.id",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "5bcd1a45581eb879",
        "type": "debug",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "CALL: AS RECEPTION",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 140,
        "wires": []
    },
    {
        "id": "3d3026f3daa9a255",
        "type": "link in",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link in 6",
        "links": [],
        "x": 205,
        "y": 160,
        "wires": [
            [
                "7cb129db92a7e201"
            ]
        ]
    },
    {
        "id": "49cbaa6fcb9ba022",
        "type": "link out",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "39205bccab9ba5a1",
            "0831882311454d83"
        ],
        "x": 1085,
        "y": 600,
        "wires": []
    },
    {
        "id": "bb58b62da194711a",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "6b6f22b29168c1fa",
        "name": "TOUR",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1000,
        "wires": [
            [
                "35a186cc633a144b"
            ]
        ]
    },
    {
        "id": "35a186cc633a144b",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "6b6f22b29168c1fa",
        "name": "CONTACT_TRANSFERENCE",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "2e40f1db81c01fd6",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "name": "SESSION_COUNTER",
        "func": "msg.payload.history = {\n    ... msg.payload.history,\n    session: {\n        start: new Date(),\n        calendar: []\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 780,
        "wires": [
            [
                "8ef6df6f82d72144"
            ]
        ]
    },
    {
        "id": "39205bccab9ba5a1",
        "type": "link in",
        "z": "22a5c7233e9e1774",
        "name": "link in 7",
        "links": [
            "49cbaa6fcb9ba022",
            "30fce7985aa12579",
            "2316e4d48d787f4d",
            "b37cf8f510a0b1f8"
        ],
        "x": 95,
        "y": 780,
        "wires": [
            [
                "2e40f1db81c01fd6"
            ]
        ]
    },
    {
        "id": "8ef6df6f82d72144",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "name": "SESSION_EVENT",
        "func": "const session = msg.payload.history.session;\n\nsession.calendar.push({\n    time: new Date(),\n    event: msg.payload.history.action\n});\n\nmsg.payload.history = {\n    ... msg.payload.history,\n    session\n}\n\nconst PC = flow.get(\"PC\") || {};\nPC.sessions = PC.sessions || [];\n\nPC.sessions.push(msg.payload.history);\n\nflow.set(\"PC\", PC);\n\nmsg.log = PC;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 780,
        "wires": [
            [
                "b69d7f8bc6047aab",
                "92ced93626a75d78",
                "cb8a6f69df76a781",
                "5882bfa378fab5e6"
            ]
        ]
    },
    {
        "id": "b69d7f8bc6047aab",
        "type": "link out",
        "z": "22a5c7233e9e1774",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "baaff00b4fb136ff"
        ],
        "x": 715,
        "y": 780,
        "wires": []
    },
    {
        "id": "92ced93626a75d78",
        "type": "debug",
        "z": "22a5c7233e9e1774",
        "name": "CALL: AS RUNTIME",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.history.session",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 860,
        "wires": []
    },
    {
        "id": "cb8a6f69df76a781",
        "type": "debug",
        "z": "22a5c7233e9e1774",
        "name": "CALL: AS RT - POOL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.history.session.calendar",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 900,
        "wires": []
    },
    {
        "id": "f658b176e499657c",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "6b6f22b29168c1fa",
        "name": "AGENTE_ESPECIALIZADO_2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "1efbfecc1c2d21eb",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "6b6f22b29168c1fa",
        "name": "AGENTE_ESPECIALIZADO_3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1200,
        "wires": [
            [
                "baa806a31968cb17"
            ]
        ]
    },
    {
        "id": "7def126f624a51fe",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "6b6f22b29168c1fa",
        "name": "AGENTE_ESPECIALIZADO_1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "5882bfa378fab5e6",
        "type": "debug",
        "z": "22a5c7233e9e1774",
        "name": "CALL: AS RT - LOG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "log",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 940,
        "wires": []
    },
    {
        "id": "1e76cc4362dca80c",
        "type": "comment",
        "z": "22a5c7233e9e1774",
        "name": "RUNTIME MAIN SUBSCRIPTION/EVENT LOOP",
        "info": "",
        "x": 320,
        "y": 1560,
        "wires": []
    },
    {
        "id": "9ee16a9c6a409441",
        "type": "comment",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "RUNTIME APPS LOOP",
        "info": "",
        "x": 200,
        "y": 520,
        "wires": []
    },
    {
        "id": "f282baccc2d57160",
        "type": "comment",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "DEVELOPMENT IDE",
        "info": "",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "60995437c2734b26",
        "type": "comment",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "PROJECT DESIGNER",
        "info": "",
        "x": 200,
        "y": 340,
        "wires": []
    },
    {
        "id": "f3b5a6580efec40f",
        "type": "function",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "FORM AUTH IN (AZURE IDENTITY PROVIDER)",
        "func": "const array = [\"GUEST\", \"OPERATOR\", \"OWNER\", \"ADMIN\"];\n\nif (!Array.isArray(array) || array.length === 0) {\n    array = []; // Return -1 if the input is not an array or if the array is empty\n}\n  \nconst role =  Math.floor(Math.random() * array.length); // Generate a random index within the bounds of the array length\n\nconst alphabet = 'abcdefghijklmnopqrstuvwxyz'; // Define the alphabet\nlet name = '';\n\nfor (let i = 0; i < role; i++) {\n    const randomIndex = Math.floor(Math.random() * alphabet.length); // Generate a random index within the bounds of the alphabet length\n    name += alphabet[randomIndex]; // Append a random character from the alphabet to the word\n}\n  \nmsg.payload.id = {\n    role: array[role],\n    name\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "baaff00b4fb136ff",
        "type": "link in",
        "z": "22a5c7233e9e1774",
        "g": "6b6f22b29168c1fa",
        "name": "link in 14",
        "links": [
            "b69d7f8bc6047aab"
        ],
        "x": 145,
        "y": 1000,
        "wires": [
            [
                "bb58b62da194711a"
            ]
        ]
    },
    {
        "id": "baa806a31968cb17",
        "type": "link out",
        "z": "22a5c7233e9e1774",
        "g": "6b6f22b29168c1fa",
        "name": "link out 16",
        "mode": "link",
        "links": [],
        "x": 425,
        "y": 1320,
        "wires": []
    },
    {
        "id": "473430abab162c29",
        "type": "subflow:3efebe813eeb35a3",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "",
        "x": 540,
        "y": 400,
        "wires": [
            [
                "30fce7985aa12579"
            ]
        ]
    },
    {
        "id": "1bd4496c18f38e26",
        "type": "subflow:5ecac4284319a8ad",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "",
        "x": 650,
        "y": 460,
        "wires": [
            [
                "2316e4d48d787f4d"
            ]
        ]
    },
    {
        "id": "fdf06eae80ddc085",
        "type": "subflow:6bbc9dbfcc0becb9",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "",
        "x": 740,
        "y": 520,
        "wires": [
            [
                "b37cf8f510a0b1f8"
            ]
        ]
    },
    {
        "id": "32ae06c7c7ec49d3",
        "type": "comment",
        "z": "22a5c7233e9e1774",
        "name": "AS APP Hello World",
        "info": "",
        "x": 190,
        "y": 1400,
        "wires": []
    },
    {
        "id": "30fce7985aa12579",
        "type": "link out",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "39205bccab9ba5a1",
            "0831882311454d83"
        ],
        "x": 905,
        "y": 400,
        "wires": []
    },
    {
        "id": "2316e4d48d787f4d",
        "type": "link out",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link out 20",
        "mode": "link",
        "links": [
            "39205bccab9ba5a1",
            "0831882311454d83"
        ],
        "x": 905,
        "y": 460,
        "wires": []
    },
    {
        "id": "b37cf8f510a0b1f8",
        "type": "link out",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "link out 21",
        "mode": "link",
        "links": [
            "39205bccab9ba5a1",
            "0831882311454d83"
        ],
        "x": 905,
        "y": 520,
        "wires": []
    },
    {
        "id": "7587708c8bbcdf25",
        "type": "inject",
        "z": "22a5c7233e9e1774",
        "g": "e35f898e6e51402b",
        "name": "Admin user",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":{\"role\":\"ADMIN\",\"name\":\"djn\"}}",
        "payloadType": "json",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "7cb129db92a7e201"
            ]
        ]
    }
]